In [ ]:
'''
- Data types
    - convert an integer to string
    - convert a string to integer
    
'''

In [3]:
a = 3
print(type(a))
print (type(str(a)))

<class 'int'>
<class 'str'>

In [ ]:
'''

- Lists and indexing
    - Flip a coin ten times. Create a list of the results
        - Take a subset of four results from this list. What conclusions can you make from this subset?
        - (bonus: what problems are there with making conclusions from this subset?)
    - Roll a virtual dice (https://rolladie.net/). Create a list from these results
        - Return the highest and lowest observed result
        - Return the most commonly occuring result (requires research)
    - List containing names
        - Add names
        - Remove one of the names from the list
        - Call register with names starting from Z - descending
        - returning all names with letters beginning with J or higher (requires research)
    
'''

In [5]:
import random

flip_lst = []

for i in range(0,10):
    flip_lst.append(random.choice([True,False]))
    
print(flip_lst)

print(random.sample(flip_lst, 4))
# sample not representative of the population

[False, True, False, False, True, True, False, False, True, False]
[False, True, False, True]

In [6]:
dice_lst = [1, 5, 6, 3, 2, 3, 1, 1, 4, 2]

print(max(dice_lst)) # max
print(min(dice_lst)) # min

print(set(dice_lst)) # set i.e. unique values
print(max(set(dice_lst))) # max in set

max(set(dice_lst), key = dice_lst.count) # mode i.e. most commonly occuring....returns key with max

6
1
{1, 2, 3, 4, 5, 6}
6

1

In [10]:
name_lst = ['Albert', 'Billie', 'Zach', 'Matthew', 'Mark', 'Luke', 'Janet', 'John', 'Leslie']
name_lst.pop() # removes 'Leslie'
name_lst.remove('John')
name_lst.sort(reverse=True) # sorts in descending order
print(name_lst)

print(list(filter(lambda x: x < 'K', name_lst))) # use a lambda function within the filter method, then return the filter as a list

print(lambda x: x < 'K')

['Zach', 'Matthew', 'Mark', 'Luke', 'Janet', 'Billie', 'Albert']
['Janet', 'Billie', 'Albert']
<function <lambda> at 0x000002298926BC10>

In [ ]:
'''
    
- Dictionaries
    - create a dictionary of people and their heights
    - Acess Bill's height
    - Add Mary, 1.56
    - Who's the tallest, who's the smallest?
    - What's the average height?
    
'''

In [39]:
height_dict = {'Bill': 1.88, 'Andrew': 1.78, 'Latika':1.60}
height_dict['Mary'] = 1.76
print(height_dict)
print(max(height_dict.values())) # max height
print(sum(height_dict.values()) / len(height_dict)) # average height

{'Bill': 1.88, 'Andrew': 1.78, 'Latika': 1.6, 'Mary': 1.76}
1.88
1.755

In [40]:
max(height_dict, key=height_dict.get)

'Bill'

In [ ]:
'''
    
- If/else statements
    - Detect if null occurs a list, and warning user if this is the case (will require research on creating a null value)
    - Create a program for detecting if a house price is outside of the normal range (£100000 - £800000), 
    and alerting if it's too cheap, too expensive or it's within this range
    
'''

In [41]:
house_lst = [None, 100000, 1000000, 750000, 500000]

print(None in house_lst)

for house in house_lst:
    if house != None:
        if house > 100000 and house <= 800000:
            print('Price is within normal range')
        elif house <= 100000:
            print('House is too cheap')
        else:
            print('House is too expensive')

True
House is too cheap
House is too expensive
Price is within normal range
Price is within normal range